@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply mx-auto text-white bg-[#050505] select-none max-w-[1400px] overflow-x-hidden;
    font-family: "Roboto", sans-serif;
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #111111;
      background-color: transparent;
    }

    ::-webkit-scrollbar {
      width: 6px;
      background-color: #111111;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-lg bg-purple-400;
    }
  }
}

@layer components {
  .container-page {
    @apply mx-auto p-7;
  }
  .container-movie {
    @apply mx-auto px-7 mb-5;
  }
  .container-watch {
    @apply mx-auto px-20 mt-[90px] w-full h-full;
  }
  .text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
.title-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.swiper-pagination-bullet {
  @apply bg-secondary;
}
.swiper-pagination-bullet-active {
  @apply bg-primary;
}

@keyframes ani {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
.animation {
  animation: ani 1000ms;
}
